<!-- <p>header works!</p> -->

<header class="header">
  <div class="header-container">
      <h1 class="header-logo">Idraiske Food Delivery Restaurant</h1>
      <nav class="header-nav">
        <div class="user-avatar">
          <img src="../../../assets/avatar-pics/avatar.jpg" alt="User Avatar" />
          <!-- Binding username from userInfo Database (call from header.component.ts) -->
          <span class="username">Hey {{ username }}</span>
        </div>
      </nav>
  </div>
</header>

